<form action="/login" method="post">


    <!-- <% if(err) {  %>

        <div> <%= err %> </div>

    <% } %> -->


    <input type="text" name="email" id="" placeholder="Email">

    <input type="password" name="password" id="" placeholder="Password">

    <button type="submit">LOGIN</button>
    

    <span>Don't have an account?</span>
    <a href="/register">Register Here</a>
    <a href="/reset">Forgot Password?</a>

</form>

